<ion-view controller="BuoyController" title="{{headerTitle}}" left-buttons="leftButtons" right-buttons="rightButtons">
    <ion-content has-header="true">
        <ion-button class="button button-block button-positive" ng-click="addToFavorites()">
            Add To Favorites
        </ion-button>
        <ion-button class="button button-block button-positive" ng-click="update()">
            Update
        </ion-button>
        <h1>{{buoyName}}</h1>
        <ul class="list">
            <li class="item" ng-repeat="dataItem in buoyData">
                {{dataItem}}      
            </li>
        </ul>

    </ion-content>

</ion-view>