<view title="Home">
    <header-bar
        title="headerTitle"
        left-buttons="leftButtons"
        type="bar-positive"
        align-title="center">
    </header-bar>
    <content has-header="true" scroll="false" on-refresh="onRefresh()">
        <refresher></refresher>

        <slide-box>
            <slide ng-repeat="fav in favs">
                <div class="box blue">
                    <h1>{{fav.id}}</h1>
                </div>
            </slide>
        </slide-box>
    </content>
</view>