<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Wave</name>
    <description>
        An appliction ation that displays real time NOAA buoy data.
    </description>
    <author email="dev@cordova.apache.org" href="http://www.kennyweigel.com">
        Kenny Weigel
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
