<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.kennyweigel.wavewire"
        versionCode = "10"
        version     = "1.0.0">
 
    <name>Wave Wire</name>
 
    <description>
        Gathers realtime data from NOAA ocean buoys.
    </description>
 
    <author>
        Kenny Weigel
    </author>

    <preference name="orientation" value="portrait"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <!-- this is not implemented yet -->
    <feature name="http://api.phonegap.com/1.0/network"/>

 
</widget>