<!DOCTYPE html>
<html ng-app="Main">
  <head>
    <meta charset="utf-8">
    <title>Ionic Seed</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- ionic css -->
    <link href="css/ionic.css" rel="stylesheet">

    <!-- your app's css -->
    <link href="css/app.css" rel="stylesheet">

    <!-- ionic/angularjs scripts -->
    <script src="js/ionic.js"></script>
    <script src="js/angular/angular.js"></script>
    <script src="js/angular/angular-animate.js"></script>
    <script src="js/angular/angular-route.js"></script>
    <script src="js/angular/angular-touch.js"></script>
    <script src="js/angular/angular-sanitize.js"></script>
    <script src="js/ionic-angular.js"></script>

    <!-- cordova script -->
    <!--<script src="cordova.js"></script>-->

    <!-- google maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    
    <!-- your app's script -->
    <!--<script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>-->

    <script src="js/main.js"></script>

  </head>

  <!-- 'starter' is the name of this angular module (js/app.js)-->
  <body ng-controller="MainController">    
    <header>
      <div class="bar bar-header">
        <button ng-click="showSettings()" class="button button-icon icon ion-navicon"></button>
        <div class="h1 title">Header Buttons</div>
        <button class="button button-clear button-positive">Edit</button>
      </div>
    </header>
    <!-- content area -->
    <content
      has-header="true"
      scroll="true"
      on-refresh="onRefresh()"
      >

      <!-- for pull to refresh -->
      <refresher></refresher>
      
      <slide-box>
        <slide>
          <div class="box blue"><h1>BLUE</h1></div>
        </slide>
        <slide>
          <div class="box yellow"><h1>YELLOW</h1></div>
        </slide>
        <slide>
          <div class="box pink"><h1>PINK</h1></div>
        </slide>
      </slide-box>

      <!-- content -->
    </content>

    <script id="settings.html" type="text/ng-template">
      <div id="settings-modal" class="modal" ng-controller="SettingsCtrl">
        <header class="bar bar-header bar-dark">
          <button ng-click="showMap()" class="button button-icon icon ion-navicon"></button>
          <h1 class="title">Settings</h1>
          <button class="button button-clear" ng-click="closeSettings()">Close</button>
        </header>
        <content has-header="true">
          <div class="padding">
            <div class="list">

            </div>
          </div>
        </content>
      </div>
    </script>

    <script id="map.html" type="text/ng-template">
      <div id="map-modal" class="modal" ng-controller="MapCtrl">
        <header class="bar bar-header bar-dark">
          <button ng-click="loadMap()" class="button button-icon icon ion-navicon"></button>
          <h1 class="title">Map</h1>
          <button class="button button-clear" ng-click="closeMap()">Close</button>
        </header>
        <content has-header="true" scroll="false">
          <div id="map"></div> 
        </content>
      </div>
    </script>

  </body>
</html>
