/* universal styles */
body {
  /*removes ios link highlighting*/
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  background-color:#1E90FF;
  margin:0;
}

.navbar-fixed-top > .navbar-inner {
  padding-left:10px;
  padding-right:10px;
}

.navbar-inner > h3 {
  position:absolute;
  left:50px;
  right:50px;
  padding:0;
  margin:0;
  color:white;
  text-align:center;
}
/* end universal styles */

/* home page styles */
#wrapper {
  position:absolute;  /* On older OS versions "position" and "z-index" must be defined, */
  top:40px;
  bottom:20px;
  left:0;
  right:0;  
  z-index:1;      /* it seems that recent webkit is less picky and works anyway. */
  overflow:hidden;
}

#scroller {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:0;
  padding:0;
}

#scroller ul {
  display:block;
  float:left;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:0;
  padding:0;
}

#scroller li {
  display:block;
  float:left;
  position:static;
  height:100%;
  margin:0;
  padding:0;
}

.slide {
  background-color: white;
  padding:10px;
  margin:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -o-border-radius:10px;
  border-radius:10px;
  border-width: 2px;
  border-color:rgb(221, 221, 221);
  border-style: solid;
}

#indicator {
  position:absolute;
  bottom:10px;
  left:0;
  right:0;
  margin:0;
  padding:0;
  text-align: center;
}

#indicator > li {
  display: inline-block;
  width:10px;
  height:10px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px;
  background:gray;
  overflow:hidden;
  margin-right:5px;
}

#indicator > li:last-child {
  margin:0;
}

#indicator > li.active {
  background:white;
}

#theList h2 {
  text-align:center;
}

#addBuoySlide {
  text-align: center;
  position: relative;
  top: 30%;
}
/* end home page styles */

/* menu styles */
#buoyTable {
  margin: 50px 10px 0px 10px;
  background-color: white;
  border-radius:10px;
  border-width: 2px;
  border-color:rgb(221, 221, 221);
  border-style: solid;
  font-size: 18px;
}

#buoyTable td {
  line-height:30px;
}
/* end menu styles */

/* search page */
#searchContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 41px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.form-search {
  position: relative;
  margin: 10px;
}
  
.form-search .search-query {
  padding-left: 30px;
}

.form-search .icon-search {
  position: absolute;
  top: 7px;
  left: 11px;
}

#searchBuoyTable {
  margin: 10px;
  background-color: white;
  border-radius:10px;
  border-width: 2px;
  border-color:rgb(221, 221, 221);
  border-style: solid;
}

/* end search page */
